# ===== 测试框架依赖 =====
allure-pytest>=2.13.5
clickhouse-sqlalchemy>=0.3.2
jenkins>=1.0.2
jsonpath>=0.82.2
pandas>=2.2.3
paramiko
pymongo
pymysql
pytest>=8.3.2
pytest-order>=1.2.0
pytest-rerunfailures>=11.0
pytest-xdist>=3.6.0
python-dotenv>=1.0.1
pyyaml>=6.0.2
redis>=5.2.1
requests>=2.32.3
sqlalchemy>=2.0.36
xlrd>=2.0.1
xlutils>=2.0.0

# ===== mock 服务依赖 =====
faker>=33.3.0
flask>=2.2.3
flask-jwt-extended>=4.7.1
